* {
    box-sizing:border-box;
}
.header {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    background-color:black;
    color:white;
    padding: 60px;
    background-image: linear-gradient(to bottom right,black, #1631ed,black);
}

ul {
    display: flex;
    flex-wrap:wrap;
    list-style-type: none;
    width: 1000px;
    padding-left:60px;
    justify-content: space-between;
    color:black;
}

ul li a{
    font-size: 24px;
    color:black;
    text-emphasis: none;
    text-decoration: none;
}
.hero {
    max-height: 400px;
    width:100%;
}

main {
    display:flex;
    flex-wrap:wrap;
    margin-top:1%;
}

figcaption {
    padding: 10px
}

figcaption h1{
    justify-content: space-around;
    text-align: center;
    font-size: 35px;
}

.PersonalInfo {
    display: block;
    flex-wrap: wrap;
    flex: 1, 0, 0;
    border-style:solid;
    width:100%;
    justify-content: space-evenly;
    padding: 5px;
    min-width:375px;
    max-height:1000px;
}

.PersonalInfo img{
    width: 100%;
    Height:48%;
    min-width:350px;
    object-fit: scale-down;
}

.PersonalInfo ul{
    display:block;
    flex-wrap:wrap;
    list-style-type: none;
    height:100%;
    width: 100%;
}

.PersonalInfo li a{
    text-emphasis: none;
    text-decoration: none;
    color:black;
    line-height: .25;
    font-size: 24px;
}

.PersonalInfo p{
    font-size: 24px;
}

@media screen and (max-width: 1125px) {
    .PersonalInfo, p{
      width: 100%;
      flex-direction: column;
}
@media screen and (max-width: 750px) {
    .PersonalInfo, p{
        width: 100%;
        flex-direction: column;
}